<div clas="container">
  <div class="row">
    <div class="col">
      <person-add (contactOutput)="receiveContact($event)"> </person-add>
  </div>
    <div class="col">
      <person-view [person]="currentPerson"></person-view>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-7">
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let contact of contacts; let i=index" (click)="selectCurrent(contact,i)">{{contact.name}}<button class="btn btn-primary" style="float: right" (click)="remove(i)">Delete</button>
        </li>
      </ul>
    </div>
  </div>
</div>
